@import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic");

body {
    color: black;
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 600px;
}

div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#name a {
    color: black;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    display: block;
}
div#name {
    vertical-align:middle;
    color: black;
    display: block;
    font-size:28px;
    height:400px;
    margin-bottom:10px;
    margin:auto;
    width: 250px;
}

span#facespan {
    height:250px;
    width: 100%;
    display:block;
    vertical-align:middle;
    margin:auto;
}

img#face {
    margin: auto;
    width: 160px;
    height:240px;
    display: block;
    vertical-align:middle;
    align: center;
}

span#namespan{
    vertical-align:middle;
    display:block;
    margin-top:10px;
    text-align: center;
}

@media screen and (min-width:650px) {
/* why is this not causing my image and title to be on the same line?*/
    div#name {
	margin: 0px;
	width: 100%;
    }
    span#facespan {
	margin:0px;
	display: inline-block;
    }
    span#namespan {
	margin:0px;
	display: inline-block;
	text-align:left;
    }
    img#face {
	float: left;
	margin: 10px;
	display:inline-block;
	align: default;
    }	
}

div#header #navigation {
    text-align: center;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px;
    font-family: 'Vollkorn', serif;
}

h2 {
    font-size: 20px;
    font-family: 'Vollkorn', serif;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

p {
    font-family: 'Vollkorn', serif;
}
