<div id="header">	
  <div id="identity">
    <h1>Theory of Programming Languages Seminar</br></br>
    <small>Archive</small></h1>
  </div>
  <div id="navigation">
    <ul id="nav">
      <li class="top"><a href="/index.html" class="top_link">Home</a></li>
      <li class="top"><a href="/archive.html" class="top_link" style="background-color: rgb(153, 153, 143);">Other Semesters</a></li>
    </ul>
  </div>
</div>

<hr />

<div id="wrap">

<div id="content">
	
<hr />

<div id="archive">
<h1>All Semesters</h1>
  <ul>
    $for(semester)$
    <li><a href="/semesters/$semester$.html">$prettySem$</a></li>
    $endfor$
  </ul>
</div>
	   
</div>
</div>
