<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />
    <meta http-equiv="Cache-Control" content="public, max-age=3600"> <!-- cache for only 1 hour -->
	<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/2112.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/schedule.css" />
	<script type="text/javascript" src="/js/ajax.js"></script>
	<script type="text/javascript" src="/js/email.js"></script>
    <title>Semantics DG - $title$</title>
  </head>
  <body class="onecolumn">
	<div id="skipnav">
	  <a href="#content">Skip to main content</a>
	</div>

	<hr />

	<!-- CU logo & unit signature -->
	<div id="cu-identity">
		<div id="cu-logo">
		<a id="insignia-link" href="http://www.cs.cornell.edu/"><img src="/images/CS_2line_a_red.gif"
		   alt="Cornell University" width="283" height="75" border="0" /></a>
		</div>

		<div id="search-form">
		<form action="http://web.search.cornell.edu/search" method="get" name="gs">
			<div id="search-input">
			<label for="search-form-query">SEARCH:</label>
			<input type="text" name="q" value="" size="20" maxlength="256" id="search-form-query" />
			<input type="submit" name="btnG" value="go" id="search-form-submit" />
			<input type="hidden" name="output" value="xml_no_dtd" />
			<input type="hidden" name="sort" value="date:D:L:d1" />
			<input type="hidden" name="ie" value="UTF-8" />
			<input type="hidden" name="client" value="default_frontend" />
			<input type="hidden" name="oe" value="UTF-8" />
			<input type="hidden" name="site" value="default_collection" />
			<input type="hidden" name="proxystylesheet" value="default_frontend" />
			</div>
			
			<div id="search-filters">
			<input type="radio" name="sitesearch" value="cs.cornell.edu" checked="checked" id="search-filters1" />
			<label for="search-filters1">CS</label>
			<input type="radio" name="sitesearch" value="" id="search-filters2" />
			<label for="search-filters2">Cornell</label>
			<label><a href="http://web.search.cornell.edu/">more options</a></label>
			</div>
		</form>
		</div>
	</div>
    $body$
	<div id="footer">
		<div id="footer-content">
			&copy;2014 <a href="http://www.cornell.edu/">Cornell University</a>
		</div>
	</div>
  </body>
</html>
	
