{% extends "section.html" %}

{%- block init -%}
  {{- super() -}}
{%- endblock init -%}

{%- block main %}
<article>
  <header>
    <h1>{{ section.title }}</h1>
  </header>
  {{ section.content | safe }}

  <h1>Classes</h1>
  <ul class="classlist">
  {% set sorted_pages = section.pages | sort(attribute="date") %}
  {% for page in sorted_pages | reverse %}
  <li>
    <div class="classlink">
      <b><a href={{page.permalink | safe}}>{{page.title}}</a></b>
    </div>
  </li>
  {% endfor %}
  </ul>
{%- endblock %}

