<div id="header">	
  <div id="identity">
    <h1>Theory of Programming Languages Seminar</br></br>
    <small>$prettySem$</br>
    $time$, $place$ </br>
    $pocs$</small></h1>
  </div>
  <div id="navigation">
    <ul id="nav">
      <li class="top"><a href="/index.html" class="top_link">Home</a></li>
      <li class="top"><a href="/archive.html" class="top_link">Other Semesters</a></li>
    </ul>
  </div>
</div>

<hr />

<div id="wrap">

<div id="content">
	
<hr />
<h1>$papertitle$</h1>
<h2>By $paperauthor$</h2>
<h2>Discussion led by $leader$ on $date$</h2>
<div class="abstract">
Abstract: <p>$body$</p>
</div>

<a href="$pdfurl$">pdf</a>
<br/>&nbsp;
</div>
</div>
